@model IEnumerable<Proyecto_Final.Models.proveedor>

@{
    ViewBag.Title = "Proveedor";
}

<h2>Proveedor</h2>

<p>
    @Html.ActionLink("Registrar un Proveedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Proveedor
        </th>
        <th>
            Direccion Proveedor
        </th>
        <th>
            Telefono Proveedor
        </th>
        <th>
            Nombre del Contacto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_contacto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}