@model IEnumerable<Proyecto_Final.Models.producto>

@{
    ViewBag.Title = "Registrar Producto";
}

<h2>Lista de Producto</h2>

<p>
    @Html.ActionLink("Registrar un producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Producto
        </th>
        <th>
            Prercio Unitario del Producto
        </th>
        <th>
            Descripcion Producto
        </th>
        <th>
            Cantidad en Existencia
        </th>
        <th>
            Proveedor del Producto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.percio_unitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Proyecto_Final.Controllers.ProductoController.NombreProveedor(item.id_proveedor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}