@model Proyecto_Final.Models.producto_compra

@{
    ViewBag.Title = "Editar";
}

<h2>Registrar</h2>
<div>
    <h4>Producto Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Número de Compra
        </dt>

        <dd>
            @Proyecto_Final.Controllers.Producto_CompraController.TotalCompra(Model.id_compra)
        </dd>

        <dt>
            Nombre Producto
        </dt>

        <dd>
            @Proyecto_Final.Controllers.Producto_CompraController.NombreProducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Producto", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
