@model Proyecto_Final.Models.usuario

@{
    ViewBag.Title = "Detalles Usuario";
}

<h2>Detalles </h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            Correo Electronico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Usuario", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regrsar a la lista", "Index")
</p>
