@model IEnumerable<Proyecto_Final.Models.cliente>

@{
    ViewBag.Title = "Cliente";
}

<h2>Lista de Cliente</h2>

<p>
    @Html.ActionLink("Registrar un Cliente", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            Nombre Cliente
        </th>
        <th>
            Documento del Cliente
        </th>
        <th>
            Correo Electronico del Cliente
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Carga Masiva", "Carga_CSV_Cliente") |
@Html.ActionLink("Paginador", "Paginador_Index_C")


@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}