@model Proyecto_Final.Models.compra
@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Total Compra
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            Nombre Cliente
        </dt>

        <dd>
            @Proyecto_Final.Controllers.CompraController.NombreCliente(Model.id_cliente)
        </dd>

        <dt>
            Nombre Usuario
        </dt>

        <dd>
            @Proyecto_Final.Controllers.CompraController.NombreUsuario(Model.id_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Producto", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
